body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
